.image-style1 {
  width:55%;
  height:30%;
  margin-left: 20%;
}
.image-style2 {
  width:40%;
  height:50%;
  margin-left: 28%;
}
.front-button-style1 {
  color: #3c4fff;
  font-weight: bold;
  width:10%;
  height:50px;
  margin-left: 10%;
  border: solid 4px #3c4fff;
  background-color: #ffd61d;
  font-style: italic;
  cursor: pointer;
}
.front-button-style2 {
  color: #3c4fff;
  font-weight: bold;
  width:10%;
  height:50px;
  margin-left: 60%;
  border: solid 4px #3c4fff;
  background-color: #ffd61d;
  font-style: italic;
  cursor: pointer;
}
